[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
django-phonenumber-field = {extras = ["phonenumbers"], version = "*"}
djangorestframework-simplejwt = "*"
psycopg2-binary = "*"
django-filter = "*"
drf-yasg = "*"
django = "*"
django-celery-beat = "*"
django-environ = "*"
requests = "*"
twilio = "*"
flower = "*"
pytest-cov = "*"
pytest = "*"
pytest-django = "*"
pytest-mock = "*"
factory-boy = "*"
celery = "*"
pytest-celery = "*"
redis = "*"
django-cors-headers = "*"

[dev-packages]

[requires]
python_version = "3.12"
